
:host {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  padding-top: 20px;

  --controls-width: 100%;

  @media(min-width: 320px) {
    padding: 30px;
  }

  @media(min-width: 600px) {
    --controls-width: 250px;
  }

  .details {
    position: relative;
    padding: 20px;
    border: rgba(255, 255, 255, 0.2) solid 1px;
    margin-bottom: 50px;
  }

  .docs {
    position: relative;
  }

  .controls {
    max-width: var(--controls-width);
    margin: 40px 0;
  }

  .example {
    display: grid;
    resize: both;
    overflow: auto;
    max-width: 100%;
    height: min-content;
    min-height: min-content;
    background-color: #424242;
    border: solid 1px rgba(255,255,255,.12);
    padding: 10px;

    &:empty {
      display: none;
    }
  }

  .divider {
    margin-top: 30px;
  }

  .sections {
    padding-top: 30px;

    &:empty {
      display: none;
    }

    .section {
      --section-label-opacity: 1;
      --entity-info-margin-top: 0;

      &.is-open {
        --section-label-opacity: 0;
        --entity-info-margin-top:-30px
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      .header {
        background: transparent;

        .class-details {
          margin-right: 12px;
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: space-between;
          opacity: var(--section-label-opacity);
          transition: opacity 300ms;

          .name {
            position: relative;
            font-size: 16px;
            margin-right: 10px;
          }
        }
      }

      .entity-info {
        margin-top: var(--entity-info-margin-top);
        transition: margin-top 300ms;
      }
    }
  }
}
