
<section class="details" [style.display]="page?.demonstrates ? 'block' : 'none'">

  <jbr-markdown [uri]="page?.demonstrates"></jbr-markdown>

</section>

<jbr-entity-info [page]="page"></jbr-entity-info>

<ng-container *ngIf="sections && sections.length > 0">

  <section class="sections">

    <jbr-page-sections [sections]="sections"
      [section]="section"
      [info]="info"
      (sectionSelected)="onSectionSelected($event)"
      (infoSelected)="onInfoSelected($event)">
    </jbr-page-sections>

  </section>

</ng-container>
