@use '../../../theme-helpers' as theme;


$divider-colors: theme.get-mode-colors-for($palette-type: foreground, $type: divider);


:host {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  padding-top: 20px;

  --details-border-color: #{nth($divider-colors, 1)};
  --controls-width: 100%;

  @media (prefers-color-scheme: dark) {
    --details-border-color: #{nth($divider-colors, 2)};
  }

  @media(min-width: 320px) {
    padding: 30px;
  }

  @media(min-width: 600px) {
    --controls-width: 250px;
  }

  .breadcrumbs {
    margin-bottom: 25px;
    &:empty {
      display: none;
    }
  }

  .details {
    position: relative;
    margin-top: 30px;
    padding: 10px 30px 15px;
    border: var(--details-border-color) solid 1px;
    margin-bottom: 30px;
    opacity: 0.8;
  }

  .controls {
    max-width: var(--controls-width);
    margin: 40px 0;
  }

  .example {
    display: grid;
    resize: both;
    overflow: auto;
    max-width: 100%;
    height: min-content;
    min-height: min-content;
    background-color: #424242;
    border: solid 1px rgba(255,255,255,.12);
    padding: 10px;

    &:empty {
      display: none;
    }
  }

  .divider {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .sections {

    &:empty {
      display: none;
    }
  }
}
