
:host {
  display: block;
  width: 100%;

  .control,
  .control-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    .invalid {
      color: red;
    }
  }

  .control-group {
    gap: 15px;
  }

  .grid-layout {
    overflow: hidden;
    margin-top: 100px;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: #c2185b;
    font-family: "Arial Black";
    font-size: 2rem;
  }
}
