@use 'sass:map';
@use '@angular/material' as mat;


$_jbr-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900, 100);
$_jbr-accent: mat.define-palette(mat.$amber-palette, 500, 100, 900, 100);
$_jbr-warn: mat.define-palette(mat.$red-palette, 500, 100, 900, 100);

$_jbr-default-typography: mat.define-typography-config();

$_jbr-default-light-theme: mat.define-light-theme((
  color: (
    primary: $_jbr-primary,
    accent: $_jbr-accent,
    warn: $_jbr-warn,
  ),
  typography: $_jbr-default-typography
));


$_jbr-dark-primary: mat.define-palette(mat.$amber-palette, 500, 100, 900);
$_jbr-dark-accent: mat.define-palette(mat.$amber-palette, 500, 100, 900);
$_jbr-dark-warn: mat.define-palette(mat.$red-palette, 500, 100, 900);

$_jbr-default-dark-theme: mat.define-dark-theme((
  color: (
    primary: $_jbr-dark-primary,
    accent: $_jbr-dark-accent,
    warn: $_jbr-dark-warn,
  ),
  typography: $_jbr-default-typography
));


@mixin set-themes($light-theme, $dark-theme: null, $typography: $_jbr-default-typography) {
  @include mat.core();
  @include mat.core-theme($light-theme);
  @include mat.typography-hierarchy($typography);

  @include mat.sidenav-theme($light-theme);
  @include mat.tree-theme($light-theme);
  @include mat.toolbar-theme($light-theme);
  @include mat.button-theme($light-theme);
  @include mat.icon-theme($light-theme);
  @include mat.tabs-theme($light-theme);
  @include mat.badge-theme($light-theme);
  @include mat.expansion-theme($light-theme);
  @include mat.divider-theme($light-theme);
  @include mat.menu-theme($light-theme);

  @if $dark-theme {
    @media (prefers-color-scheme: dark) {
      @include mat.core-color($dark-theme);
      @include mat.sidenav-color($dark-theme);
      @include mat.tree-color($dark-theme);
      @include mat.toolbar-color($dark-theme);
      @include mat.button-color($dark-theme);
      @include mat.icon-color($dark-theme);
      @include mat.tabs-color($dark-theme);
      @include mat.badge-color($dark-theme);
      @include mat.expansion-color($dark-theme);
      @include mat.divider-color($dark-theme);
      @include mat.menu-color($dark-theme);
    }
  }
}

@mixin set-form-themes($light-theme, $dark-theme) {
  @include mat.input-theme($light-theme);
  @include mat.select-theme($light-theme);
  @include mat.stepper-theme($light-theme);
  @include mat.radio-theme($light-theme);
  @include mat.checkbox-theme($light-theme);
  @include mat.form-field-theme($light-theme);

  @media (prefers-color-scheme: dark) {
    @include mat.input-color($dark-theme);
    @include mat.select-color($dark-theme);
    @include mat.stepper-color($dark-theme);
    @include mat.radio-color($dark-theme);
    @include mat.checkbox-color($dark-theme);
    @include mat.form-field-color($dark-theme);
  }
}

@function get-palette-from-theme($theme, $palette-type) {
  $color-config: mat.get-color-config($theme);
  @return map.get($color-config, $palette-type);
}

@function get-color-from-theme($theme, $palette-type, $type) {
  $palette: get-palette-from-theme($theme, $palette-type);
  @return map.get($palette, $type);
}

@function get-color-from-palette($palette, $type) {
  @return map.get($palette, $type);
}

@function get-mode-palettes-for($palette-type, $light-theme, $dark-theme: null) {

  $light-palette: get-palette-from-theme($light-theme, $palette-type);
  $dark-palette: null;

  @if $dark-theme {
    $dark-palette: get-palette-from-theme($dark-theme, $palette-type);
  }

  @return $light-palette, $dark-palette;
}

@function get-mode-colors-for($palette-type, $type, $light-theme, $dark-theme: null) {

  $light-color: get-color-from-theme($light-theme, $palette-type, $type);
  $dark-color: null;

  @if $dark-theme {
    $dark-color: get-color-from-theme($dark-theme, $palette-type, $type);
  }

  @return $light-color, $dark-color;
}


@mixin set-default-themes() {
  @include set-themes($_jbr-default-light-theme, $_jbr-default-dark-theme);
}

@mixin set-default-form-themes() {
  @include set-form-themes($_jbr-default-light-theme, $_jbr-default-dark-theme);
}

@function get-default-themes() {
  @return $_jbr-default-light-theme, $_jbr-default-dark-theme, $_jbr-default-typography;
}

@function get-default-mode-palettes-for($palette-type) {
  @return get-mode-palettes-for($palette-type, $_jbr-default-light-theme, $_jbr-default-dark-theme);
}

@function get-default-mode-colors-for($palette-type, $type) {
  @return get-mode-colors-for($palette-type, $type, $_jbr-default-light-theme, $_jbr-default-dark-theme);
}
