@use '../../../theme-helpers' as theme;

$link-colors: theme.get-mode-colors-for($palette-type: primary, $type: default);
$divider-colors: theme.get-mode-colors-for($palette-type: foreground, $type: divider);

:host {
  display: block;

  --link-color: #{nth($link-colors, 1)};
  --divider-color: #{nth($divider-colors, 1)};
  --code-background-color: f5f2f0;

  @media (prefers-color-scheme: dark) {
    --link-color: #{nth($link-colors, 2)};
    --divider-color: #{nth($divider-colors, 2)};
  }

  markdown {
    display: block;

    & + markdown {
      margin-top: 50px;
    }

    ::ng-deep {

      hr {
        margin: 30px 0;
        height: 0;
        border: 0;
        border-top: 1px solid  var(--divider-color);
      }

      h1, h2, h3, h4, code {
        //color: #E9E9E9;
      }

      code {
        font-weight: normal;
      }

      p + h2,
      pre + h2 {
        margin-top: 50px;
      }

      p:first-child(code) {
        background-color: var(--code-background-color);
      }

      a {
        color: var(--link-color);
        text-decoration: none;

        > code {
          color: var(--link-color);
        }

        &:hover {
          text-decoration: underline;
        }
      }

      li {
        margin-bottom: 10px;
      }

      li > ul {
        margin-top: 10px;
      }

      .language-ts {
        .token.operator,
        .token.entity,
        .token.url,
        .language-css.token.string,
        .style .token.string {
          background: transparent;
        }
      }

      .language-json {
        .token.operator {
          background: transparent;
        }
      }
    }
  }
}
