<!--<div
  standard-table-renderer
  [caption]="label"
  [columns]="standardColumns"
  [rows]="rows"
  [cellRenderers]="{a, d}"
></div>-->


<!--<div
  sortable-table-renderer
  [caption]="label"
  [columns]="sortableColumns"
  [rows]="rows"
  [cellRenderers]="{a, d}"
  (sortRequest)="sortRequest($event)"
></div>-->


<ng-template #a let-cellData="cellData" let-rowData="rowData" let-columnKey="columnKey">
  <div>{{cellData}}</div>
  <div>{{rowData}}</div>
  <div>{{columnKey}}</div>
</ng-template>

<ng-template #d let-cellData="cellData" let-rowData="rowData" let-columnKey="columnKey">
  <div style="width:100%;height:100%;" [ngStyle]="!!cellData ? {'background-color': 'red'} : {'background-color': 'green'}">
    {{cellData}}
  </div>
</ng-template>

<lesson-plan-grid [dataProvider]="data"> </lesson-plan-grid>
