:host {
  display: block;
  container-type: inline-size;
}

p {
  --color: red;
  color: var(--color);
  border: 2px solid var(--color);
  padding: 12px;
  margin: 0;
}

@container (min-width: 200px) {
  p {
    --color: blue;
  }
}

@container (min-width: 400px) {
  p {
    --color: green;
  }
}


