@use '@angular/material' as mat;

@include mat.core();

$jbr-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900, 100);
$jbr-accent: mat.define-palette(mat.$amber-palette, 500, 100, 900, 100);
$jbr-warn: mat.define-palette(mat.$red-palette, 500, 100, 900, 100);

$jbr-typography: mat.define-typography-config();

$jbr-theme: mat.define-light-theme((
  color: (
    primary: $jbr-primary,
    accent: $jbr-accent,
    warn: $jbr-warn,
  ),
  typography: $jbr-typography
));


$jbr-dark-primary: mat.define-palette(mat.$amber-palette, 500, 100, 900);
$jbr-dark-accent: mat.define-palette(mat.$amber-palette, 500, 100, 900);
$jbr-dark-warn: mat.define-palette(mat.$red-palette, 500, 100, 900);

$jbr-dark-theme: mat.define-dark-theme((
  color: (
    primary: $jbr-dark-primary,
    accent: $jbr-dark-accent,
    warn: $jbr-dark-warn,
  ),
  typography: $jbr-typography
));

@include mat.core-theme($jbr-theme);
@include mat.sidenav-theme($jbr-theme);
@include mat.tree-theme($jbr-theme);
@include mat.toolbar-theme($jbr-theme);
@include mat.button-theme($jbr-theme);
@include mat.icon-theme($jbr-theme);
@include mat.tabs-theme($jbr-theme);
@include mat.badge-theme($jbr-theme);
@include mat.expansion-theme($jbr-theme);

@media (prefers-color-scheme: dark) {
  @include mat.core-color($jbr-dark-theme);
  @include mat.sidenav-color($jbr-dark-theme);
  @include mat.tree-color($jbr-dark-theme);
  @include mat.toolbar-color($jbr-dark-theme);
  @include mat.button-color($jbr-dark-theme);
  @include mat.icon-color($jbr-dark-theme);
  @include mat.tabs-color($jbr-dark-theme);
  @include mat.badge-color($jbr-dark-theme);
  @include mat.expansion-color($jbr-dark-theme);
}







