@use '@angular/material' as mat;

$jbr-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900, 100);
$jbr-accent: mat.define-palette(mat.$amber-palette, 500, 100, 900, 100);
$jbr-warn: mat.define-palette(mat.$red-palette, 500, 100, 900, 100);

$jbr-typography: mat.define-typography-config();

$jbr-theme: mat.define-light-theme((
  color: (
    primary: $jbr-primary,
    accent: $jbr-accent,
    warn: $jbr-warn,
  ),
  typography: $jbr-typography
));


$jbr-dark-primary: mat.define-palette(mat.$amber-palette, 500, 100, 900);
$jbr-dark-accent: mat.define-palette(mat.$amber-palette, 500, 100, 900);
$jbr-dark-warn: mat.define-palette(mat.$red-palette, 500, 100, 900);

$jbr-dark-theme: mat.define-dark-theme((
  color: (
    primary: $jbr-dark-primary,
    accent: $jbr-dark-accent,
    warn: $jbr-dark-warn,
  ),
  typography: $jbr-typography
));


@mixin set-themes($light-theme, $dark-theme) {
  @include mat.core();
  @include mat.core-theme($light-theme);
  @include mat.sidenav-theme($light-theme);
  @include mat.tree-theme($light-theme);
  @include mat.toolbar-theme($light-theme);
  @include mat.button-theme($light-theme);
  @include mat.icon-theme($light-theme);
  @include mat.tabs-theme($light-theme);
  @include mat.badge-theme($light-theme);
  @include mat.expansion-theme($light-theme);
  @include mat.divider-theme($light-theme);

  @media (prefers-color-scheme: dark) {
    @include mat.core-color($dark-theme);
    @include mat.sidenav-color($dark-theme);
    @include mat.tree-color($dark-theme);
    @include mat.toolbar-color($dark-theme);
    @include mat.button-color($dark-theme);
    @include mat.icon-color($dark-theme);
    @include mat.tabs-color($dark-theme);
    @include mat.badge-color($dark-theme);
    @include mat.expansion-color($dark-theme);
    @include mat.divider-color($dark-theme);
  }
}
