@import "normalize.css";
@import "dist/libraries/@jbr/ui/src/lib/styles/styles.scss";
@import "./theme.scss";



html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
