@use '@angular/material' as mat;
@use "theme" as theme;
@use "normalize.css";
@use "libraries/styles";


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@include theme.set-themes(theme.$jbr-theme, theme.$jbr-dark-theme)
