
<section>

  <div class="header" responsiveContainer>

    <div class="left">

      <ng-container *ngIf="page?.type as type">
        <jbr-entity-type-label [type]="type"></jbr-entity-type-label>
      </ng-container>

      <h1 class="title">{{page?.type ? (page?.path | classCase) : (page?.path | words)}}</h1>

    </div>

    <ng-container *ngIf="page?.githubLink as githubLink">
      <jbr-github-btn [path]="githubLink" class="github-link"></jbr-github-btn>
    </ng-container>

  </div>

  <ng-container *ngIf="page?.description as description">

    <jbr-markdown [uri]="description" type="description"></jbr-markdown>

  </ng-container>

  <ng-container *ngIf="page?.usage as usage">

    <jbr-markdown [uri]="usage" type="description"></jbr-markdown>

  </ng-container>

</section>

<ng-container *ngIf="!!page">

  <mat-divider class="divider"></mat-divider>

  <section *ngIf="page|guardType : isSectionNode as section">

    <mat-tab-group dynamicHeight #group [selectedIndex]="selectedInfoIndex" (selectedIndexChange)="onSelectedIndexChange($event)">

      <!--<ng-container *ngIf="page?.usage as usage">
        <mat-tab label="Usage">
          <ng-template matTabContent>

            <section class="controls" *ngIf="controls">

              <ng-container controlsLoader
                            [controls]="controls"
                            (dataChange)="onControlDataChange($event)">
              </ng-container>

            </section>

            <section class="example" *ngIf="examples">

              <ng-container *ngFor="let example of examples">

                <ng-container componentLoaderIO="{{example}}" [inputs]="controlData">
                </ng-container>

              </ng-container>

            </section>

          </ng-template>
        </mat-tab>
      </ng-container>-->

      <ng-container *ngFor="let info of section.info">

        <mat-tab [label]="info.name">
          <jbr-markdown [uri]="info.uri" type="{{info.name}}"></jbr-markdown>
        </mat-tab>

        <!-- as it stands defered loading of each tab content is clunky. Needs investigation to get working smoothly-->
        <!--<mat-tab [label]="info.name">
          <ng-template matTabContent>
            <jbr-markdown [uri]="info.uri" type="{{info.name}}"></jbr-markdown>
          </ng-template>
        </mat-tab>-->

      </ng-container>

    </mat-tab-group>

  </section>

</ng-container>
