
<section>

  <div class="header" responsiveContainer>

    <div class="left">

      <ng-container *ngIf="page?.type as type">
        <jbr-entity-type-label [type]="type"></jbr-entity-type-label>
      </ng-container>

      <h1 class="title">{{page?.type ? (page?.name | classCase) : (page?.name | words)}}</h1>

    </div>

    <ng-container *ngIf="page?.githubLink as githubLink">
      <jbr-github-btn [path]="githubLink" class="github-link"></jbr-github-btn>
    </ng-container>

  </div>

  <ng-container *ngIf="page?.description as desctiption">

    <jbr-markdown [uri]="desctiption" type="description"></jbr-markdown>

  </ng-container>

</section>


<section *ngIf="page?.example || page?.api">

  <mat-tab-group dynamicHeight #group>

    <!--<ng-container *ngIf="page?.usage as usage">
      <mat-tab label="Usage">
        <ng-template matTabContent>

          <section class="controls" *ngIf="controls">

            <ng-container controlsLoader
                          [controls]="controls"
                          (dataChange)="onControlDataChange($event)">
            </ng-container>

          </section>

          <section class="example" *ngIf="examples">

            <ng-container *ngFor="let example of examples">

              <ng-container componentLoaderIO="{{example}}" [inputs]="controlData">
              </ng-container>

            </ng-container>

          </section>

        </ng-template>
      </mat-tab>
    </ng-container>-->

    <ng-container *ngIf="page?.api as api">
      <mat-tab label="API">
        <jbr-markdown [uri]="api" type="API docs"></jbr-markdown>
      </mat-tab>
    </ng-container>

    <ng-container *ngIf="page?.example as example">
      <mat-tab label="Example">
        <jbr-markdown [uri]="example" type="example"></jbr-markdown>
      </mat-tab>
    </ng-container>

  </mat-tab-group>

</section>
