
:host {
  display: block;

  --LG: 450px;
  --header-flex-direction: column-reverse;
  --header-align-items: flex-start;
  --header-justify-content: space-between;

  --github-link-padding-bottom: 20px;
  --title-vertical-margin: 15px;
  --title-font-size: 28px;

  .divider {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .header {
    display: flex;
    flex-direction: var(--header-flex-direction);
    align-items: var(--header-align-items);
    justify-content: var( --header-justify-content);

    --jrb-github-btn-size: 36px;

    .github-link {
      padding-bottom: var(--github-link-padding-bottom);
    }

    .left {
      padding-right: 20px;

      .title {
        padding-right: 20px;
        margin: var(--title-vertical-margin) 0;
        font-size: var(--title-font-size);
      }
    }

    &.LG {
      --jrb-github-btn-size: 40px;
      --header-flex-direction: row;
      --header-align-items: center;

      --github-link-padding-bottom: 0;
      --title-vertical-margin: 22px;
      --title-font-size: 32px;
    }
  }

  .example {
    height: 300px;
  }
}
