
<section>

  <div class="header" responsiveContainer>

    <div class="left">

      <ng-container *ngIf="page?.type as type">
        <jbr-entity-type-label [type]="type"></jbr-entity-type-label>
      </ng-container>

      <h1 class="title">{{page?.type ? (page?.path | classCase) : (page?.path | words)}}</h1>

    </div>

    <ng-container *ngIf="page?.githubLink as githubLink">
      <jbr-github-btn [path]="githubLink" class="github-link"></jbr-github-btn>
    </ng-container>

  </div>

  <ng-container *ngIf="page?.description as description">

    <jbr-markdown [uri]="description" type="description"></jbr-markdown>

  </ng-container>

</section>

<ng-container *ngIf="!!page">

  <mat-divider class="divider"></mat-divider>

  <section *ngIf="page|guardType : isPageNodeWithInfo as section">

    <mat-tab-group dynamicHeight #group [selectedIndex]="selectedInfoIndex" (selectedIndexChange)="onSelectedIndexChange($event)">

      <ng-container *ngFor="let info of section.info">

        <mat-tab [label]="info.name">
          <ng-container *ngIf="!info.isExample; else exampleContent">
            <jbr-markdown [uri]="info.uri" type="{{info.name}}"></jbr-markdown>
          </ng-container>
        </mat-tab>

        <ng-template #exampleContent>

          <section class="controls" *ngIf="section.controls">

            <ng-container controlsLoader
                          [controls]="section.controls"
                          (dataChange)="onControlDataChange($event)">
            </ng-container>

          </section>

          <section class="example" *ngIf="info.uri">

              <ng-container componentLoaderIO="{{info.uri}}" [inputs]="controlData">
              </ng-container>

          </section>

        </ng-template>

        <!-- as it stands defered loading of each tab content is clunky. Needs investigation to get working smoothly-->
        <!--<mat-tab [label]="info.name">
          <ng-template matTabContent>
            <jbr-markdown [uri]="info.uri" type="{{info.name}}"></jbr-markdown>
          </ng-template>
        </mat-tab>-->

      </ng-container>

    </mat-tab-group>

  </section>

</ng-container>
