@use '@angular/material' as mat;
@use '../../../theme-helpers' as theme;

@use "libraries/styles/elements" as elements;


$colors: theme.get-mode-colors-for($palette-type: foreground, $type: text);
$light: nth($colors, 1);
$dark: nth($colors, 2);


:host {
  --github-btn-size: var(--jbr-github-btn-size, 40px);
  --icon-color: #{$light};

  display: block;

  @media (prefers-color-scheme: dark) {
    --icon-color: #{$dark};
  }

  button {
    width: var(--github-btn-size);
    height: var(--github-btn-size);
    @include elements.button_reset();

    mat-icon {
      color: var(--icon-color);
    }
  }
}
